{% extends "base.html" %}

{% block body %}

<div class="alert alert-info text-center" role="alert">
  Find the Perfect Buddy!
</div>
<form action="/bsearch" method="post">
  <div class="form-row">
    <div class="form-group col-md-1"></div>
    <div class="form-group col-md-2">
      <label class="lb-md"> Search by: </label>
      <select id="searchtype" class="form-control" name="searchtype">
        <option value="osis" {% if query[1] == "" %} selected {% endif %} >Owner</option>
        <option value="locker" {% if query[0] == "" %} selected {% endif %}>Locker Number</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label class="lb-md">&nbsp; </label>
      <input type="text" placeholder="Search" class="form-control" name="input">
    </div>
    <div class="form-group col-md-3">
    <label for="sports" class="lb-md">Sports Equipment Load</label>
    <select id="sports" class="form-control" name="sports">
      <option value="" {% if query[2] == "" %} selected {% endif %}>None</option>
      <option value="Large" {% if query[2] == "Large" %} selected {% endif %}>Large</option>
      <option value="Medium" {% if query[2] == "Medium" %} selected {% endif %}>Medium</option>
      <option value="Small" {% if query[2] == "Small" %} selected {% endif %}>Small</option>
    </select>
    </div>
    <div class="form group col-md-2">
      <label for="textbook" class="lb-md">Textbook Count?</label>
      <select id="textbook" class="form-control" name="textbook">
        <option value="" {% if query[3] =="" %} selected {% endif %} >None</option>
        <option value="1-3" {% if query[3] =="1-3" %} selected {% endif %}>1-3</option>
        <option value="4+" {% if query[3] =="4+" %} selected {% endif %}>4+</option>
      </select>
    </div>
    <div class="form-group col-md-1"></div>
  </div>
  <br>
  <div class="form-row">
    <div class="form-group col-md-1"></div>
    <div class="form-group col-md-2">
    <label for="grade" class="lb-md">Grade</label>
    <select id="grade" class="form-control" name="grade">
      <option {% if query[4] =="None" %} selected {% endif %}>None</option>
      <option {% if query[4] =="9" %} selected {% endif %}>9</option>
      <option {% if query[4] =="10" %} selected {% endif %}>10</option>
      <option {% if query[4] =="11" %} selected {% endif %}>11</option>
      <option {% if query[4] =="12" %} selected {% endif %}>12</option>
    </select>
    </div>
    <div class="form group col-md-2">
      <label for="gender" class="lb-md">Gender</label>
      <select id="Gender" class="form-control" name="gender">
        <option {% if query[5]=="None" %} selected {% endif %}>None</option>
        <option {% if query[5]=="Male" %} selected {% endif %}>Male</option>
        <option {% if query[5]=="Female" %} selected {% endif %}>Female</option>
    </select>
    </div>
    <div class="form group col-md-2">
      <label for="floor" class="lb-md">Floor</label>
      <select id="floor" class="form-control" name="floor">
        <option {% if query[6]=="None" %} selected {% endif %}>None</option>
        <option {% if query[6]=="1" %} selected {% endif %}>1</option>
        <option {% if query[6]=="2" %} selected {% endif %}>2</option>
        <option {% if query[6]=="3" %} selected {% endif %}>3</option>
        <option {% if query[6]=="4" %} selected {% endif %}>4</option>
        <option {% if query[6]=="5" %} selected {% endif %}>5</option>
        <option {% if query[6]=="6" %} selected {% endif %}>6</option>
        <option {% if query[6]=="7" %} selected {% endif %}>7</option>
        <option {% if query[6]=="8" %} selected {% endif %}>8</option>
        <option {% if query[6]=="9" %} selected {% endif %}>9</option>
        <option {% if query[6]=="10" %} selected {% endif %}>10</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="lockertype" class="lb-md">Locker Location</label>
      <select id="Ltype" class="form-control" name="location">
        <option {% if query[7]=="None" %} selected {% endif %}>None</option>
        <option {% if query[7]=="Hallway" %} selected {% endif %}>Hallway</option>
        <option {% if query[7]=="Atrium" %} selected {% endif %}>Atrium</option>
        <option {% if query[7]=="Bar" %} selected {% endif %}>Bar</option>
        <option {% if query[7]=="Robotics" %} selected {% endif %}>Robotics</option>
        <option {% if query[7]=="Music Hallway" %} selected {% endif %}>Music Hallway</option>
        <option {% if query[7]=="Swim Gym" %} selected {% endif %}>Swim Gym</option>
        <option {% if query[7]=="Gym" %} selected {% endif %}>Gym</option>
      </select>
    </div>
    <div class="form group col-md-2">
      <label for="Ltype" class="lb-md">Top/Bottom</label>
      <select id="level" class="form-control" name="level">
        <option {% if query[8]=="None" %} selected {% endif %}>None</option>
        <option {% if query[8]=="Top" %} selected {% endif %}>Top</option>
        <option {% if query[8]=="Bottom" %} selected {% endif %}>Bottom</option>
      </select>
    </div>
    <div class="form-group col-md-1"></div>
  </div>
  <br>
  {% if length==0 %} <center><h1>No Results Found!</h1></center>{% endif %}
  <div class="form-row">
    <div class="form-group col-md-5"></div>
    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary btn-block" id="submit">Search</button>
    </div>
    <div class="form-group col-md-5"></div>
  </div>
</form>
<hr>
<div class="container">
<div class="text-center">
  <h2>Buddy Results</h2>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
    {% for item in loop %}
    <div class="row">
      <div class="card bg-info text-white text-center my-3 col-md-12">
        <div class="card-header">Buddy Osis: {{buddy[item][0]}}</div>
        <div class="card-body">
          <h5 class="card-title">Buddy Info:</h5>
          <p class="card-text">Grade: {{buddy[item][3]}} &nbsp; &nbsp; Gender: {{buddy[item][6]}} &nbsp; &nbsp; Sports Load:{{survey[item][0]}} &nbsp; &nbsp; Textbook Count:{{survey[item][1]}} </p>
          <h5 class="card-title">Locker Info:</h5>
          <p class="card-text">Locker Number: {{locker[item][0]}} &nbsp; &nbsp; Floor: {{locker[item][3]}} &nbsp; &nbsp; Level: {{locker[item][4]}} &nbsp; &nbsp; Location: {{locker[item][5]}} &nbsp; &nbsp; Market Status: {{locker[item][6]}}</p>
          <hr>
          {% if buddy[item][0] in to %}
          <form action="/confirm" method="POST">
            <input type="text" name="person" value={{buddy[item][0]}} hidden>
            <input type="text" name="type" value="B" hidden>
            <button class="btn btn-success btn-block active" type="submit">Accept Request</button>
          </form>
          {% endif %}
          {% if buddy[item][0] in sender %}
          <div>
            <button class="btn btn-secondary btn-block active" type="submit" disabled>Requested</button>
          </div>
          {% endif %}
          {% if buddy[item][0] not in sender and buddy[item][0] not in to%}
          <form action="/updated" method="post">
            <div>
              <button class="btn btn-info btn-block active" type="submit" name="request" value ="{{buddy[item][0]}}">Request</button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
