{% extends "base.html" %}

{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
    <div class="row">
      <div class="card text-white text-center bg-info my-3 col-md-12">
        <div class="card-header">Locker Number: {{locker[3]}}-{{locker[0]}}</div>
        <div class="card-body">
          <h5 class="card-title">Locker Info:</h5>
          <p class="card-text">Combination: {{locker[2]}} <br> Floor: {{locker[3]}} <br> Level: {{locker[4]}} <br> Location: {{locker[5]}} <br> Market Status: {{locker[6]}}</p>
          <hr class="my-4">
          <form action="#">
            <button type="submit" class="btn btn-info btn-block active">Sell</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card text-white text-center bg-primary my-3 col-md-5">
        <div class="card-header">User Osis: {{userInfo[0]}}</div>
        <div class="card-body">
          <h5 class="card-title">User Info:</h5>
          <p class="card-text">Grade: {{userInfo[3]}} <br> Gender: {{userInfo[6]}}</p>
          <hr class="my-4">
          <form action="/editprof">
            <button type="submit" class="btn btn-primary btn-block active">Edit</button>
          </form>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="card text-white text-center bg-success my-3 col-md-5">
        <div class="card-header">Buddy Osis: {{buddy[0]}}</div>
        <div class="card-body">
          <h5 class="card-title">Buddy Info:</h5>
          <p class="card-text">Grade: {{buddy[3]}} <br> Gender: {{buddy[6]}}</p>
        </div>
        {% if buddy[0] != "N/A" and not changed %}
          <form action="/dissolve" method="post">
            <button type="submit" class="btn btn-primary btn-block active" name="break" value={{buddy[0]}}>Change Buddy</button>
          </form>
         {% endif %}
         {% if buddy[0] != "N/A" and changed %}
           <form action="/notifs">
             <button type="submit" class="btn btn-primary btn-block active" >Check Notifications!</button>
           </form>
          {% endif %}
         {% if buddy[0] == "N/A" %}
         <form action="/survey">
           <button type="submit" class="btn btn-primary btn-block active">Find a Buddy</button>
         </form>
        {% endif %}
        </div>
      </div>
    {% for item in transactions%}
    <form action="/giveup" method="post">
    <div class="row">
      <div class="card text-white text-center bg-warning my-3 col-md-12">
        <div class="card-header">Pending Transaction</div>
        <div class="card-body">
          <h5 class="card-title"> Transaction Type:{% if item[4]=="B" %} Buddy Request {% endif %} {% if item[4]=="L" %} Locker Request {% endif %} {% if item[4]=="D" %} Change Buddy Request {% endif %}</h5>
          <p class="card-text">Request to: {{item[1]}} <br> </p>
          <input type="text" name="person" value={{item[1]}} hidden>
            <input type="text" name="type" value="B" hidden>
          <hr class="my-4">
            <button type="submit" class="text-white btn btn-warning btn-block active" name="return" value="home">Give Up</button>
          </div>
        </div>
      </div>
    </form>
    {% endfor %}
  </div>
</div>
{% endblock %}
