{% extends "base.html" %}
{% block body %}
<div class="container">
  <h3>Search</h3>
  <div class="alert alert-info" role="alert">
     Search for a specific locker number by inputting 4 digits with a dash after the floor number (Ex: 2-225).<br>
      Search for a specific person trading by inputting their 9 digit OSIS.<br>
      Indicate which search to make using the dropdown.
  </div>
  <div>
    <form action="/lSearch" method="post">
      <div class="form-row">
        <div class="form group col-md-4">
          <input id="query" class="form-control mr-sm-2" type="text" name="query" placeholder="2-225 OR 123456789"><br>
        </div>
        <div class="form group col-md-3">
          <select id="searchBy" class="form-control" name="searchBy">
            <option>Locker Number</option>
            <option>Owner</option>
          </select>
        </div>
        <div class="form-group col-md-1">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>

  <h3>Filter</h3>
  <div class="alert alert-info" role="alert">
    Filter the entire collection of lockers that can be traded by selecting the checkboxes for categories and indicating preferences on dropdowns.
  </div>
  <div>
    <form action="/lFilter" method="post">
      <div class="form-row text-center">
        <div class="form-group col-md-1">
          <label for="filter">Filter By:  </label>
        </div>
        <div class="form-group col-md-1 custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="floor" onclick="displayFloor()">
          <label class="custom-control-label" for="floor">Floor</label>
          <select id="floorSearch" class="form-control" style="display:none" name="floorSearch">
            <option> </option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
        <div class="form-group col-md-2 custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="level" onclick="displayLevel()">
          <label class="custom-control-label" for="level">Level</label>
          <select id="levelSearch" class="form-control" style="display:none" name="levelSearch">
            <option> </option>
            <option>Top</option>
            <option>Bottom</option>
          </select>
        </div>
        <div class="form-group col-md-2 custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="type" onclick="displayType()">
          <label class="custom-control-label" for="type">Location</label>
          <select id="typeSearch" class="form-control" style="display:none" name="typeSearch">
            <option> </option>
            <option>Hallway</option>
            <option>Senior Atrium</option>
            <option>Senior Bar</option>
            <option>Robotics</option>
            <option>Music Hallway</option>
            <option>Atrium</option>
            <option>Swim Gym</option>
            <option>Gym</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-1">
        <button class="btn btn-primary" type="submit">Filter</button>
      </div>
    </form>
  </div>

  <hr>

  <div class="container">
    {% if results == [] and all != [] %}
    <div class="text-center">
      <h2>All Lockers</h2>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      {% for key in all %}
      <div class="row">
        <div class="card text-white text-center bg-info my-3 col-md-12">
          <div class="card-header">Locker Number: {{key[5]}}-{{key[0]}}</div>
          <div class="card-body">
            <h5 class="card-title">Locker Info:</h5>
            <p class="card-text">Owner: {{key[2]}} <br> Floor: {{key[5]}} <br>
                               Level: {{all[key][4]}} <br> Location: {{all[key][5]}} <br>
                               Market Status: OPEN </p>
            <hr class="my-3">
            {% if key[2] in to %}
            <form action="/confirm" method="post">
            <div>
              <input type="text" name="type" value="L" hidden>
              <button class="btn btn-primary btn-block active" type="submit" name="person" value ="{{key[2]}}">Accept Request</button>
            </div>
            </form>
            {% endif %}
            {% if key[2] in sender %}
            <div>
              <button class="btn btn-secondary btn-block active" type="submit" disabled>Requested</button>
            </div>
            {% endif %}
            {% if key[2] not in sender and key[2] not in to and all[key][1] != user %}
            <form action="/lRequest" method="post">
            <div>
              <button class="btn btn-info btn-block active" type="submit" name="lrequest" value ="{{key[2]}}">Request</button>
            </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
    </div>

    {% if results != [] %}
    <div class="text-center">
      <h2>Search Results</h2>
    </div>
    <!-- locker number, recipient, owner, status, request, floor -->
    <!-- locker number, owner, combo, floor, level, location, status -->
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      {% for key in results %}
      <div class="row">
        <div class="card text-white text-center bg-info my-3 col-md-12">
          <div class="card-header">Locker Number: {{key[5]}}-{{key[0]}}</div>
          <div class="card-body">
            <h5 class="card-title">Locker Info:</h5>
            <p class="card-text">Owner: {{key[2]}} <br> Floor: {{key[5]}} <br>
                                 Level: {{results[key][4]}} <br> Location: {{results[key][5]}} <br>
                                Market Status: OPEN </p>
            <hr class="my-3">
            {% if key[2] in to %}
            <form action="/confirm" method="post">
            <div>
              <input type="text" name="type" value="L" hidden>
              <button class="btn btn-primary btn-block active" type="submit" name="person" value ="{{key[2]}}">Accept Request</button>
            </div>
            </form>
            {% endif %}
            {% if key[2] in sender %}
            <div>
              <button class="btn btn-secondary btn-block active" type="submit" disabled>Requested</button>
            </div>
            {% endif %}
            {% if key[2] not in sender and key[2] not in to and results[key][1] != user %}
            <form action="/lRequest" method="post">
            <div>
              <button class="btn btn-info btn-block active" type="submit" name="lrequest" value ="{{key[2]}}">Request</button>
            </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>


<script>
  function displayFloor() {
    var floorCheck = document.getElementById("floor");
    var floorDrop = document.getElementById("floorSearch");
    if (floorCheck.checked == true){floorDrop.style.display = "block";}
    else {floorDrop.style.display = "none";}
  }
  function displayLevel() {
    var levelCheck = document.getElementById("level");
    var levelDrop = document.getElementById("levelSearch");
    if (levelCheck.checked == true){levelDrop.style.display = "block";}
    else {levelDrop.style.display = "none";}
  }
  function displayType() {
    var typeCheck = document.getElementById("type");
    var typeDrop = document.getElementById("typeSearch");
    if (typeCheck.checked == true){typeDrop.style.display = "block";}
    else {typeDrop.style.display = "none";}
  }
</script>

{% endblock %}
