<html>
<head>
    <!--
        Team Deluxe-Tardigrades :: Yifan Wang, Amber Chen, Elizabeth Doss, Mandy Zheng
        SoftDev: pd1
        P05 :: Fin
        2020-06-11
    -->
    <title>Sign Up</title>
    <script src='http://d3js.org/d3.v5.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    body {
      margin-left: 30px;
    }
    </style>
</head>

<body>
  <h1>Sign up</h1>
  <br>
  <h4>Please fill out some basic information about yourself and your current locker.</h4>
  <br><br>
  <form action="/auth" method="post">
    <div class="form-row">
      <div class="form group col-md-4">
        <label for="id" class="font-weight-bold">Osis</label>
        <input type="text" class="form-control" id="osis" placeholder="XXXXXXXXX" name="osis">
      </div>
      <div class="form group col-md-4">
        <label for="password1" class="font-weight-bold">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
      </div>
      <div class="form group col-md-4">
        <label for="confirm1" class="font-weight-bold">Confirm Password</label>
        <input type="password" class="form-control" id="confirm" placeholder="Confirm Password" name="confirm">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
      <label for="grade" class="font-weight-bold">Grade</label>
      <select id="grade" class="form-control" name="grade">
        <option selected>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select>
      </div>
      <div class="form group col-md-6">
        <label for="gender" class="font-weight-bold">Gender</label>
        <select id="Gender" class="form-control" name="gender">
          <option selected>Female</option>
          <option>Male</option>
          <option>Prefer Not to Say</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form group col-md-6">
        <label for="Num" class="font-weight-bold">Locker Number</label>
        <input type="text" class="form-control" id="locker" placeholder="" name="locker">
      </div>
      <div class="form group col-md-6">
        <label for="Combo" class="font-weight-bold">Locker Combo</label>
        <input type="combo" class="form-control" id="combo" placeholder="" name="combo">
      </div>
    </div>
    <div class="form-row">
      <div class="form group col-md-4">
        <label for="floor" class="font-weight-bold">Floor</label>
        <select id="floor" class="form-control" name="floor">
          <option selected>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>
      <div class="form-group col-md-4">
      <label for="lockertype" class="font-weight-bold">Locker Location</label>
      <select id="Ltype" class="form-control" name="location">
        <option selected>Hallway</option>
        <option>Senior Atrium</option>
        <option>Senior Bar</option>
        <option>Robotics</option>
        <option>Music Hallway</option>
        <option>Atrium</option>
        <option>Swim Gym</option>
        <option>Gym</option>
      </select>
      </div>
      <div class="form group col-md-4">
        <label for="Ltype" class="font-weight-bold">Top/Bottom</label>
        <select id="Ltype" class="form-control" name="level">
          <option selected>Top</option>
          <option>Bottom</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</body>
</html>
