{% extends "base.html" %}

{% block style %}
  <style>
        .bar {
            fill: steelblue;
        }
  </style>
{% endblock %}

{% block body %}
<form>
  <h4>Please select the data you want to be displayed:</h4>
  <br>
  <div class="form-row">
    <div class="form-group col-md-6">
    <label for="grade" class="font-weight-bold">Y Axis</label>
    <select id="grade" class="form-control" name="grade">
      <option>Lockers Available for Trade</option>
      <option>Lockers Registered</option>
    </select>
    </div>
    <div class="form group col-md-6">
      <label for="gender" class="font-weight-bold">X axis</label>
      <select id="Gender" class="form-control" name="gender">
        <option>Floor Number</option>
        <option>Location</option>
        <option>Grade</option>
      </select>
    </div>
  </div>
</form>

<svg width="600" height="500"></svg>

<script type="text/javascript"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
