{% extends "base.html" %}


{% block body %}

<h1>Fill out this Survey about yourself!</h1>
<br><br>
<form action="/buddy" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
    <label for="sports" class="font-weight-bold">Sports Equipment Load</label>
    <select id="sports" class="form-control" name="sports">
      <option value="" {% if sports=="" %} selected{% endif %}>None</option>
      <option value="Large" {% if sports=="Large" %} selected{% endif %}>Large</option>
      <option value="Medium" {% if sports=="Medium" %} selected{% endif %}>Medium</option>
      <option value="Small" {% if sports=="Small" %} selected{% endif %}>Small</option>
    </select>
    </div>
    <div class="form group col-md-6">
      <label for="textbook" class="font-weight-bold">Estimated Text Book Count?</label>
      <select id="textbook" class="form-control" name="textbook">
        <option value="" {% if books=="" %} selected{% endif %} >None</option>
        <option value="1-3" {% if books=="1-3" %} selected{% endif %}>1-3</option>
        <option value="4+" {% if books=="4+" %} selected{% endif %}>4+</option>
      </select>
    </div>
  </div>

  <br>

  <div class="form-row">
    <div class="form group col-md-6">
      <label for="textbook" class="font-weight-bold">Miscellaneous Habits or Comments:</label>
      <br>
      <textarea id="misc" name="misc" rows="10" cols="50" >{{misc}}</textarea>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% endblock %}
